@keyframes fade-up {
  0% {
      opacity: 0.1;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
      opacity: 0;
      transform: translateY(+10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}



@keyframes fade-in-down {
  0% {
      opacity: 0.2;
      transform: translate(0 10px);
  }
  100% {
      opacity: 1;
      transform: translate(0px);
  }
}

@keyframes blogLogo {
	from {
        background-position:0 -100px;
    }
    to {
        background-position: 0 -19px;
    }
}