@keyframes titleBlog {
  0% {
      opacity: 0.8;
      transform: translate(0px, -35px) skewY(-2deg);

  }
  100% {
      opacity: 1;
      transform: translate(0, 0px) skewY(-2deg);
  }
}

@keyframes blogLogo-mobile {
	from {
        opacity: 0.8;
        background-position-y: 0%;
    }
    to {
        opacity: 1;
        background-position-y: 50%;
    }
}

@keyframes blogLogo-desktop {
	from {
        opacity: 0.8;
        background-position-y: -60px;
    }
    to {
        opacity: 1;
        background-position-y: -13px;
    }
}

@keyframes brandTitle {
    0% {
        opacity: 0.8;
        transform: translate(0px, -35px) skewY(-2deg) rotate(2deg);
  
    }
    100% {
        opacity: 1;
        transform: translate(0, 0px) skewY(-2deg) rotate(2deg);
    }
  }

@keyframes brandBox {
	from {
        opacity: 0;
        transform: translate(0px, -35px) rotate(-2deg);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px) rotate(-2deg);
    }
}