 :global(pre) {
   margin-top: 12px;
   background: #2d2e35;
   padding: 1em;
   margin: 4.5em 0;
   overflow: auto;
   border-radius: 0.3em;
   color: #e0e0e0;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
}
 code[class*="language-"],
 pre[class*="language-"] {
   color: #e0e0e0;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   direction: ltr;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   letter-spacing: 0.5px;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #2d2e35;

 }
 
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
 }
 
 :global(.token.comment),
 :global(.token.prolog),
 :global(.token.doctype),
 :global(.token.cdata) {
   color: #75715e
 }
 
 :global(.token.punctuation) {
   color: #F8F8F2;
 }
 
 :global(.namespace) {
   opacity: .7;
 }
 
 :global(.token.property),
 :global(.token.tag),
 :global(.token.constant),
 :global(.token.symbol),
 :global(.token.deleted) {
   color: #F92672;
 }
 
 :global(.token.boolean),
 :global(.token.number) {
   color: #FD971F;
 }
 
 :global(.token.selector),
 :global(.token.attr-name),
 :global(.token.string),
 :global(.token.char),
 :global(.token.builtin),
 :global(.token.inserted) {
   color: #A6E22E;
 }
 
 :global(.token.operator),
 :global(.token.entity),
 :global(.token.url),
 :global(.language-css),
 :global(.token.string),
 :global(.style),
 :global(.token.string),
 :global(.token.variable) {
    color: #F8F8F2;
 }
 
 :global(.token.atrule),
 :global(.token.attr-value),
 :global(.token.function) {
   color: #a6e22e;
 }
 
 :global(.token.keyword) {
   color: #F92672;
 }
 
 :global(.token.regex),
 :global(.token.important){
   color: #FD971F;
 }
 
 :global(.token.important),
 :global(.token.bold) {
   font-weight: bold;
 }
 :global(.token.italic) {
   font-style: italic;
 }
 
 :global(.token.entity) {
   cursor: help;
 }