:global(.hljs) {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3e3d3d; color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 16px 16px 16px 16px;
  border-radius: 6px;
}

:global(.hljs-tag),
:global(.hljs-keyword),
:global(.hljs-selector-tag),
:global(.hljs-literal),
:global(.hljs-strong),
:global(.hljs-name) {
  color: #f92672;
}

:global(.hljs-code) {
  color: #66d9ef;
}

:global(.hljs-class .hljs-title) {
  color: white;
}

:global(.hljs-attribute),
:global(.hljs-symbol),
:global(.hljs-regexp),
:global(.hljs-link) {
  color: #bf79db;
}

:global(.hljs-string),
:global(.hljs-bullet),
:global(.hljs-subst),
:global(.hljs-title),
:global(.hljs-section),
:global(.hljs-emphasis),
:global(.hljs-type),
:global(.hljs-built_in),
:global(.hljs-builtin-name),
:global(.hljs-selector-attr),
:global(.hljs-selector-pseudo),
:global(.hljs-addition),
:global(.hljs-variable),
:global(.hljs-template-tag),
:global(.hljs-template-variable) {
  color: #a6e22e;
}

:global(.hljs-comment),
:global(.hljs-quote),
:global(.hljs-deletion),
:global(.hljs-meta) {
  color: #75715e;
}

:global(.hljs-keyword),
:global(.hljs-selector-tag),
:global(.hljs-literal),
:global(.hljs-doctag),
:global(.hljs-title),
:global(.hljs-section),
:global(.hljs-type),
:global(.hljs-selector-id) {
  font-weight: bold;
}