:global(.quote) {
  font-family: 'Montserrat-medium',sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  font-size: 1.6em;
  color: #515766;
  text-align: center;
}

:global(.fade-appear) {
  opacity: 0.01;
}
:global(.fade-appear.fade-appear-active) {
  opacity: 1;
  transition: opacity 80ms ease-in;
}

:global(.fade2-appear) {
  opacity: 0.01;
}
:global(.fade2-appear.fade2-appear-active) {
  opacity: 1;
  transition: opacity 110ms ease-in;
}

:global(.fade3-appear) {
  opacity: 0.01;
}
:global(.fade3-appear.fade3-appear-active) {
  opacity: 1;
  transition: opacity 720ms ease-in;
}