$primary-color: #2475dd;

$secondary-color: #ccc;

$tertiary-color: #ccc;


$white: #fff;
$gray-lighter: #ededed;
$gray-light: #e0e0e0;
$gray: #d3d3d3;
$gray-dark: #939393;
$gray-darker: #545454;
$black: #151515;