$primary-color: #fb0c49;

$secondary-color: #ccc;

$tertiary-color: #ccc;


$white: #fff;
$gray-lighter: #ededed;
$gray-light: #e0e0e0;
$gray: #d3d3d3;
$gray-dark: #939393;
$gray-darker: #444444;
$black: #151515;


$gtq-medium: $primary-color;
$mentol:#CCDDCC;
$slobber:#EEEEDD;
$red:#FF2255;



/** Main Layout **/
$bg-back: $gray-darker;
$bg-body: $white;
$bg-footer: $bg-all;

$bg-titleBlog: $gtq-medium;
$cl-titleBlog: $white;
$bg-mainContainer: $bg-body;