@import '../../../../styles/mixins/mixins.css';
@import '../../../../styles/variables/variables.css';

.share {
  background-color: $secondary-color;
}
.socialBoxWrap{   
    display: flex;
    justify-content: space-between;
    width: 124px;
    height: 30px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    &:hover > li button{
        opacity: .5;
        transition: opacity .2s ease-in-out;
        
    }
}

ul li {
    &:nth-child(1){
        button{
            @mixin socialIcon linkedin;        }
    }
    &:nth-child(2){
        button{
            @mixin socialIcon github;
        }
    }
    &:nth-child(3){
        button{
            @mixin socialIcon twitter;
        }
    }
    &:nth-child(4){
        button{
            @mixin socialIcon email;        }
    }
    
}