/** Gray scale **/
$white: #f2f3f3;
$gray-light: #c3c3c3;
$gray-middark: #5f5f5f;
$gray-darker: #444444;
$black: #151515;


/** Main colors **/
$primary-color: rgb(69, 24, 245);
$secondary-color: #3714c0;
$tertiary-color: #0c0b15;


/** Base **/
$bg-back: $tertiary-color;
$bg-body: $white;
$cl-body: $tertiary-color;

