@import '../../styles/variables/variables.css';

.postInfo {
  display: flex;
  align-items: center;
  padding: 1.1em 0 0;
  span {
    font-size: .8em;
    letter-spacing: 0.1em;
    padding: 0 0.8em;
    color: $cl-infoWrited;
  }
  span:first-child{
    padding-left: 0;
  }
  span:nth-child(2) {
    border-left: 2px solid $cl-post-info-pipe;
  }
  span + div {
    flex: 3;
    text-align: right;
  }
}