@import '../../styles/variables/variables.css';

.postInfo {
  display: flex;
  margin: 10px 0 14px;
  span,
  time {
    font-size: .8em;
    letter-spacing: 0.1em;
    line-height: 1;
    padding: 0 0.8em;
    color: $cl-infoWrited;
    height: 21px;
    align-items: center;
    display: flex;

    &:first-child{
      padding-left: 19px;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        background-image: url(../../assets/images/icons/user.svg);
        background-repeat: no-repeat;
        background-size: 13px;
        left: 0;
        top: 2px;
        width: 13px;
        height: 13px;
    
      }
    }
    &:nth-child(2) {
      border-left: 2px solid $cl-post-info-pipe;
    }
    &:nth-child(3) {
      border-left: 2px solid $cl-post-info-pipe;
    }
  }
  time + div {
    flex: 3;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}