@import '../../styles/base.css';

.postInfo {
  margin-bottom: 0.3em;
  span {
    font-size: .8em;
    padding-right: 2em;
    color: $cl-infoWrited;
  }
}

.author {
  padding-right: 2em;
  font-size: .8em;
  letter-spacing: 0.1em;
}