@import '../../styles/base.css';

footer.container{
    width: 100%;
    height: $mrgt-footer;
    padding: 20px 0;
    position: fixed;
    z-index: -1;
    bottom: 0;
    background: $bg-footer;
    color: $cl-footer;

    nav{
        max-width: 270px;
        margin: 0 auto;
    }
    
    .txt img {
        width: 40px;
    }
  
}
.copyright {
    margin-top: 20px;
    text-align: center;
    display: block;
}

