@import '../../styles/variables/variables.css';

footer.container{
    width: 100%;
    height: $h-footer;
    padding: 30px 0 20px;
    bottom: 0;
    margin-top: -$h-footer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $bg-footer;
    color: $cl-footer;

    .copyright {
        margin: 18px 0;
        text-align: center;
        display: block;
        span{
            margin: 0 .2em;
        }
    }

    .sourceCode {
        margin-bottom: 10px;
        text-align: center;
        display: block;
        span{
            margin: 0 .2em;
        }
        &:hover{
            color: $white;
        }
    }

    .powered{
        margin: 1px 0 0 -81px;
        &::after{
            content: "";
            margin: -12px 0 0 5px;
            background-image: url('../../assets/images/icons/base.png');
            background-size: 73px;
            background-repeat: no-repeat;
            background-position: left;
            position: absolute;
            width: 76px;
            height: 48px;
        }
        color: $white;
    }
}


