@import '../../styles/variables/variables.css';

footer.container{
    width: 100%;
    height: $h-footer;
    padding: 20px 0 40px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $bg-footer;
    color: $cl-footer;

    nav{
        display: flex;
        justify-content: center;
    }

    .copyright {
        margin: 20px 0;
        text-align: center;
        display: block;
        span{
            margin: 0 .2em;
        }
    }

    .powered{
        margin: 1px 0 0;
        &::after{
            content: "";
            margin: 10px 0 0 -81px;
            background-image: url('../../assets/images/icons/base.png');
            background-size: 73px;
            background-repeat: no-repeat;
            background-position: left;
            position: absolute;
            width: 76px;
            height: 48px;
        }
    }
}


