
.container {
  max-width: 1024px;
}

.mainContent{
  width: 100%;
}
.Post {
  width: 100%;
  font-size: 32px;
}
.PostAnim {
  -webkit-animation: fade-in-down 0.2s;
  animation: fade-in-down 0.2s both; 
}
