@import '../../styles/base.css';


main{
    flex: 1;
    width: 100%;
    padding: 8px 16px;
    @media (min-width: 1069px) {
       padding: 8px 0

    }
}

.container {
    width: auto;
    margin: auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
            flex-direction: row;

    }

    .mainContent{
        flex: 3;
    }
    aside{
        flex: 1;
        padding-left: 30px;
    }
}


footer.container{
    border-top: 1px solid #c6c6d4;
    width: 100%;
    padding: 20px 0;
}

.Post {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  font-size: 32px;
  font-family: Arial;
  color: #9E9E9E ;
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
