@import '../../styles/variables/variables.css';
@import '../../styles/mixins/mixins.css';
@import '../../styles/anims.css';
.post {
  @mixin blogContent;
  .content{
    margin: 26px auto 200px;
    :global(p img) {
      display:block;
      margin:auto;
      width: 400px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

.PostAnim {
  animation: fade-in-down 0.2s both; 
}