@import '../../styles/variables/variables.css';
@import '../../styles/mixins/mixins.css';
/** @import '../../styles/anims.css'; **/
.post {
  @mixin blogContent;
  .content{
    margin: 26px auto 200px;
    :global(p img) {
      display:block;
      margin:auto;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      -webkit-user-drag: none;
      @media (min-width: 430px){
        width: 400px;
      }
    }
  }
}
.shape{
  @mixin shape;
}
.PostAnim {
  animation: fade-in-down 0.2s; 
}