/** Gray scale **/
$white: #F7F7F7;
$gray-light: #c3c3c3;
$gray-middark: #5f5f5f;
$gray-darker: #444444;
$black: #151515;


/** Main colors **/
$primary-color: #15C260;
$secondary-color: #3c9397;
$tertiary-color: #3f4943;


/** Base **/
$bg-back: $tertiary-color;
$bg-body: $white;
$cl-body: $gray-darker;

