@import '../../styles/mixins/mixins.css';
@import '../../styles/variables/variables.css';

.mainHeader{
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  border-top: $bdr-mainHeader;
  color: $cl-mainHeader;
  transition: background-color .3s cubic-bezier(.19,1,.22,1),left .62s cubic-bezier(.19,1,.22,1);
  &Wrapper{
      @mixin mainFit; 
      margin: 0 auto;  
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;    
  }
}

.mainHeaderActive {
  background-color: $bg-mainHeader;
  background-image: $bgi-mainHeaderActive;
  border-bottom: $bdt-mainHeaderActive;
  transition: background-color .2s cubic-bezier(.19,1,.22,1),left .62s cubic-bezier(.19,1,.22,1);
}