@import '../../styles/mixins/mixins.css';
@import '../../styles/variables/variables.css';

header.mainHeader{
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  border-top: $bdr-mainHeader;
  color: $cl-mainHeader;
  -webkit-transition: background-color 120ms ease-in;
  -ms-transition: background-color 120ms ease-in;
  transition: background-color 120ms ease-in;
  .mainHeaderWrapper{
      @mixin mainFit; 
      margin: 0 auto;  
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;    
  }
}

.mainHeaderActive {
  background: $bg-mainHeader;
  -webkit-transition: background-color 120ms ease-in;
  -ms-transition: background-color 120ms ease-in;
  transition: background-color 120ms ease-in;
}