@import '../../styles/variables/variables.css';
@import '../../styles/anims.css';


.blogHeader{
  @mixin blogTitle;

  .blogHeaderWrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: $layout-max-width;
    margin: 0;
    width: 100%;
    height: 100%;
    @media (min-width: $sm){
      padding: $layout-padding;
    }
    @media (min-width: 585px){
      flex-direction: row;
      align-items: flex-end;
      margin: 0 auto;
    }

    .blogHeaderTitle{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      flex: 2;
      background-repeat: no-repeat;
      animation-delay: 60ms;
      background-size: 156px;
      animation: blogLogo-mobile 150ms both, fade-up 150ms;
      -webkit-backface-visibility: hidden;
      @media (min-width: $sm){
        animation: blogLogo-desktop 150ms both, fade-up 150ms;        
        background-size: 221px;
      }
      h1{
        font-family: $fontFamilyMedium;
        word-break: break-word;
        margin-bottom: 0;
        padding-left: 15px;
        font-size: 1.6em;
        width: 224px;
        margin-top: 10px;
        animation: titleBlog 150ms;
        -webkit-backface-visibility: hidden;

        @media (min-width: $sm){
          width: 400px;
          font-size: 2.8rem;
          animation: titleBlog 150ms;
          -webkit-backface-visibility: hidden;
        }
        + div{
          display: flex;
          align-items: flex-end;
          margin-bottom: 34px;
          font-size: 17px;
        }
      }
      a {
        color: $cl-titleBlog;
      }
    }
  }
  .socialBox{
    height: 100%;
    margin-bottom: 0;
    flex: 1;
    align-items: flex-end;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    filter: invert(80%);
  }
}

.postTitleAnim {
  animation: fade-in-down 150ms;
}

.blogHeader::before {
  width: 100%;
  height: $mrgt-BlogHeader;
  position: relative;
  overflow: hidden;
  background-size: cover;
  transform-style: inherit;
}