@import '../../styles/base.css';

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
    z-index: 1;
}
main.container {
    margin-bottom: $mrgb-mainContainer;
    background: $bg-mainContainer;
}

header.mainHeader{
    @mixin mainFit;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $cl-mainHeader;
}