@import '../../../../styles/variables/variables.css';
@import '../../../../styles/mixins/mixins.css';

.post{
    h1 {
        @mixin postTitle;
    }

    h2 {
        font-weight: 200;
        font-size: 1.4em;
        line-height: 1.4em;
        margin: 1.5em 0 2.2em;
    }
    h3,
    h4{
        font-family: $fontFamilyMedium;
        color: $cl-postSumaryOpening;
        text-transform: uppercase;
        display: block;
        line-height: 1;
    }
    h3 {
        margin: 40px 0 20px;
        letter-spacing: 0.1em;
        font-size: 1em;
    }
    h4{
        margin: 35px 0 10px;
        letter-spacing: 0.09em;
        font-size: 0.9em;
    }
}

.postContentAnim {
  animation: fade-in-up 150ms both;
  animation-delay: 20ms;
}