@import '../../../../styles/base.css';

.postContent {
  -webkit-animation: fade-in-up 0.2s;
  animation: fade-in-up 0.2s both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

span {
    font-size: .8em;
    padding-right: 2em;
    letter-spacing: 0.1em;
}