@import '../../../../styles/variables/variables.css';
@import '../../../../styles/mixins/mixins.css';

.post{
    width: 100%;
    display: inline-block;
    margin-top: $mrgt-post;
    background-color: $bg-post; 

    .postContent {
        @mixin mainFit;
        margin-top: 4em;
        line-height: 1.7;
        padding-bottom: 300px;
        margin: 50px auto 100px;
        position: relative;
        z-index: 2;
        font-size: 0.9em;


        h2 {
            @mixin fontFamilyLight;
            font-size: 1.3em;
            letter-spacing: 0em;
            letter-spacing: -0.01em;
            line-height: 1.4em;
            margin-bottom: 1.6em;
            color: $cl-postSumaryOpening;
            
          }
        
        b {
            color: $gray-middark;
            letter-spacing: 0.1em;
            font-size: 0.8em;
            text-transform: uppercase;
        }
    }

    h1 {
        @mixin fontFamilyMedium;
        margin-bottom: 0.4em;
        color: $cl-postSumaryTilte;
        font-size: 2.3em;
        line-height: 1em;
    }

}

.postContentAnim {
  -webkit-animation: fade-in-up 150ms;
  animation: fade-in-up 150ms both;
  -webkit-animation-delay: 20ms;
  animation-delay: 20ms;
}