$primary-color: #fb0c49;

$secondary-color: #c8ceff;

$tertiary-color: #ccc;


$white: #fff;
$gray-lighter: #ededed;
$gray-light: #e0e0e0;
$gray: #d3d3d3;
$gray-dark: #939393;
$gray-darker: #444444;
$black: #151515;




/** Base **/
$bg-back: $gray-darker;
$bg-body: $white;
$cl-body: $black;

