$primary-color: #fb0c49;

$secondary-color: #3B6796;

$tertiary-color: #ccc;


$white: #F7F7F7;
$gray-lighter: #ededed;
$gray-light: #e0e0e0;
$gray: #d3d3d3;
$gray-dark: #676767;
$gray-middark: #5f5f5f;
$gray-darker: #444444;
$black: #151515;




/** Base **/
$bg-back: $gray-darker;
$bg-body: $white;
$cl-body: $black;


$cl-icon: $white

