/** Gray scale **/
$white: #F7F7F7;
$gray-lighter: #ededed;
$gray-light: #e0e0e0;
$gray: #d3d3d3;
$gray-dark: #939393;
$gray-darker: #444444;
$black: #151515;


/** Main colors **/
$primary-color: #fb0c49;
$secondary-color: #3B6796;
$tertiary-color: $gray-darker;


/** Base **/
$bg-back: $tertiary-color;
$bg-body: $white;
$cl-body: $gray-darker;

