@import '../../styles/base.css';

.image-loaded {
  -webkit-animation: fade-in-up 0.2s;
  animation: fade-in-up 0.2s both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.image{
    width: 100%;
}
