@import '../../styles/base.css';

.image-loaded {
  -webkit-animation: fade-in-up 0.2s;
  animation: fade-in-up 0.2s both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.image {
    width:100%
}

.imageWrapper {

    display:inline-block;
    width:100%;
    height:120px;
    position: relative;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; 

}
.imageWrapper:hover{
          border: 1px 1px 1px 1px solid #333;
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}