@import '../../styles/anims.css';
@import '../../styles/mixins/mixins.css';

.imageAnim {
  animation: fade-in 0.2s both;
}

.imageWrapper {
  @mixin linkImage;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}