@import '../../../../styles/variables/variables.css';
@import '../../../../styles/mixins/mixins.css';
@import '../../../../styles/anims.css';

.blogTitle{
  @mixin blogTitle;

  .blogTitleWrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15px;
    max-width: $layout-max-width;
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation: fade-in-down-bgi 140ms;
    animation-delay: 60ms;
    background-size: 148px;
    background-position: left center;
    transition: padding 120ms ease;
    @media (min-width: $sm){
      padding: $layout-padding;
      background-size: 221px;
      transition: padding 120ms ease;
    }
    @media (min-width: 585px){
      flex-direction: row;
      align-items: flex-end;
      margin: 0 auto;
    }
    .titleBlogAnim {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      flex: 2;
      animation: fade-in-down 150ms;
      h1{
        font-family: $fontFamilyMedium;
        word-break: break-word;
        margin-bottom: 0;
        font-size: 1.6em;
        width: 214px;
        margin-top: 10px;
        transform: skewY(-2deg);

        @media (min-width: $sm){
          width: 400px;
          font-size: 2.8rem;
        }
        + div{
          display: flex;
          align-items: flex-end;
          margin-bottom: 34px;
          font-size: 17px;
        }
      }
      a {
        color: $cl-titleBlog;
      }
    }
  }
  .socialBox{
    height: 100%;
    margin-bottom: 0;
    flex: 1;
    align-items: flex-end;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    filter: invert(80%);
  }
}