@import '../../styles/mixins/mixins.css';

.socialBoxWrap{   
    display: flex;
    justify-content: space-between;
    width: 124px;
    height: 30px;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    li {
        flex: 1 1 100%;
        display: flex;
        a,
        button{
            width: 100%;
            height: 100%;
        }
        button{
            text-align: center;
        }
    }
    &:hover > li button{
        opacity: .5;
        
    }
}

ul li {
    &:nth-child(1){
        button{
            @mixin socialIcon linkedin;
        }
    }
    &:nth-child(2){
        button{
            @mixin socialIcon github;
        }
    }
    &:nth-child(3){
        button{
            @mixin socialIcon twitter;
        }
    }
    &:nth-child(4){
        button{
            @mixin socialIcon email;        }
    }
    
}