/** App **/
$bg-mainContainer: $bg-body;
$cl-mainHeader: $white;

$mrgb-mainContainer: $parallax-footer;

/** Blog **/
$bg-blog: $white;

$bg-titleBlog: $primary-color;
$cl-titleBlog: $white;

$mrgt-blog: $parallax-header;
$hgt-titleBlog: $parallax-header;

/** Blog/components/ Post Info **/
$cl-infoWrited: $black;

/** Blog/components/ Post Sumary **/
$cl-postSumaryTilte: $bg-back;

$cl-postText: $black;

/** Blog/components/ Post Tag **/
$bg-postTag: $secondary-color;
$cl-postTag: darken($secondary-color, 15%);



/** Main **/
$bg-home: "http://k32.kn3.net/taringa/1/B/6/D/4/B/hegel-21/27B.jpg";

$bg-homeBrand: $primary-color;
$cl-homeBrand: $white;

$bg-about:$gray-light;
$cl-about:$black;

$bg-about:$white;
$cl-about:$black;


/** Post **/
$mrgt-post: $parallax-header;

/** Post/components/ Post Content **/
$bg-post: $white;
$cl-postContentTilte: $bg-back;

/** Post/components/ Post Header **/
$bg-postHeader: $gray-darker;

$mrgt-postHeader: $parallax-header;

/** Post/components/ Post Header Image **/
$bg-postHeaderImage: $gray-darker;
$bg-postHeaderImageBefore: $gray;