@import '../../styles/variables/variables.css';

mark{
    font-size: 1em;
    padding: .4em .6em;
    background-color: $bg-postTag;
    color: $cl-postTag;
    font-family: $fontFamilyMedium;
    &:hover{
        color: $cl-postTagHover;
    }
}