@import "../../styles/base.css";
@import "../../styles/anims.css";

.buttonOk {
  display: block;
  color: #fff;
  height: 36px;
  padding: 0.2em 0.8em;
  font-size: 0.7em;
  font-weight: 700;
  border-style: solid;
  margin: 0.3rem;
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  background: $primary-color;
  transition: all 0.3s;
  margin-left: 2.2em;
  @media screen and (max-width: 414px) and (orientation: portrait),
    screen and (max-width: 736px) and (orientation: landscape) {
    margin-left: 2.6em;
  }
  &:hover {
    background: #f94c74;
    transition: all 0.3s;
  }
}
.buttonKo {
  width: 20%;
  display: block;
  color: $primary-color;
  height: 40px;
  padding: 0.5em 0.4em;
  font-size: 0.8em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  margin: 0.3rem;
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  background: $tertiary-color;
  transition: all 0.3s;
  &:hover {
    background: $tertiary-color;
    transition: all 0.4s;
  }
}

.content {
  display: flex;
  padding: 0.4rem;
    justify-content: center;
  @media (min-width:$sm){
    justify-content: flex-end;
  }
}


.RegisterBoxWrap{ 
  display: flex;
  flex-wrap: wrap;
  height: 6em;
  width: 24em;
  RegisterBoxWrap
  @media (min-width:$sm){
  height: 5em;
  }
}

.txt {
  display: flex;
  font-family: $fontFamilyLight;
  color: $white;
  font-size: 1.2em;
  font-weight: 200;
  width: 100%;
  letter-spacing: -1px;
  font-weight: bold;
  letter-spacing: -1px;
  align-items: center;
  height: 30px;
  @media (min-width:$sm){
  }
}
.txt2 {
  display: flex;
  font-family: $fontFamilyLight;
  color: $white;
  font-size: 0.9em;
  font-weight: 200;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
  height: 40px;
  @media (min-width:$sm){
  }
}
input {
  outline: none;
  border: none;
}

button, input {
  overflow: visible;
}

.registerForm {
  width:98%;
}

.registerFormContent{
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (min-width:$sm){
  }
}

.txtNotifycations {
  font-size: 14px;
  @media (min-width:$sm){
    font-size: 14px;
  }
}

.inputField {
  font-family: $fontFamilyMedium;
  margin: 0 10px 10px 0;
  padding: 6px 6px 6px 6px;
  width: 140px;
  font-size: 0.9em;
  height: 20px;
  @media (min-width:$sm){
    height: 20px;
    width: 150px;
    font-size: 0.9em;
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333;
  opacity: 1; /* Firefox */
}

.checkBoxNotifications {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
}

.inputButton {
  font-size: 12px;
  margin: 0 10px 0 0;
  display: block;
  color: #fff;
  height: 26px;
  padding: 0.2em 0.8em;
  font-size: 0.7em;
  font-weight: 700;
  border-style: solid;
  margin: 0.3rem;
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  background: #f72354;
  transition: all 0.3s;
  margin-left: 0.2em;
  height: 26px;
  @media (min-width:$sm){
    height: 36px;
  }
}

.control {
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 14px;
  @media (min-width:$sm){
    font-size: 16px;
  }
}
  .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
.controlIndicator {
  position: absolute;
  top: 7px;
  left: 110px;
  height: 15px;
  width: 15px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 0px;
    @media (min-width:$sm){
      left: 125px;
  }
}
.control:hover input ~ .controlIndicator,
.control input:focus ~ .controlIndicator {
  background: #cccccc;
}

.control input:checked ~ .controlIndicator {
  background: #F72353;
}
.control:hover input:not([disabled]):checked ~ .controlIndicator,
.control input:checked:focus ~ .controlIndicator {
  background: #F72353;
}
.control input:disabled ~ .controlIndicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.controlIndicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .controlIndicator:after {
  display: block;
}
.controlCheckbox .controlIndicator:after {
  left: 6px;
  top: 2px;
  width: 2px;
  height: 7px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.controlCheckbox input:disabled ~ .controlIndicator:after {
  border-color: #7b7b7b;
}
.controlCheckbox .controlIndicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}