/** Gray scale **/
$white: #fefefe;
$lighter-gray: #e4e3e3;
$gray-light: #c3c3c3;
$gray-middark: #5f5f5f;
$gray-darker: #414754;
$black: #151515;


/** Main colors **/
$primary-color: #f72354;
$secondary-color: #3B6796;
$tertiary-color: #282c38;


/** Base **/
$bg-back: $gray-darker;
$bg-body: $white;
$cl-body: $gray-darker;

