/***** COMPONENTS *****/

/** Header **/
$cl-mainHeader: $white;
$bdr-mainHeader: 4px solid $bg-back;
$bg-mainHeader: $primary-color;
$bgi-mainHeaderActive: none;

/** Logo **/
$cl-miniTitle: $white;

/** Footer **/
$bg-footer: $bg-back;
$cl-footer: $white;
$h-footer: $parallax-footer;


/** Post Info **/
$cl-post-info-pipe: $cl-body;
$cl-infoWrited: $cl-body;


/** Post Tag **/
$bg-postTag: $white;
$cl-postTag: $secondary-color;
$cl-postTagHover: $primary-color; 
$brd-postTag: 1px solid $secondary-color;

/***** CONTAINERS *****/

/** App **/
$bg-mainContainer: $bg-body;
$mrgb-mainContainer: $parallax-footer;


/** Blog **/
$bg-blog: $white;
$bg-titleBlog: $tertiary-color;
$bgi-titleBlog: url('../../../../assets/images/glitter.svg');
$cl-titleBlog: $white;
$mrgt-blog: 192px;;
$hgt-titleBlog: $parallax-header;


/** Blog/components/ Post Sumary **/
$cl-postSumaryTilte: $lighter-gray;
$cl-postSumaryTilteHover: $primary-color;
$cl-postSumaryOpening : $gray-middark; 
$bdrt-linkImage: 1px solid $gray-light;
$bg-linkImage: #2a2e3d; 
$cl-postText: $cl-body;


/** Main **/
$bg-home: url('../../../../assets/images/main.jpg'); 
$bg-homeBrand: $primary-color;
$cl-homeBrand: $white;
$bg-about:$gray-light;
$cl-about:$black;
$bg-about:$white;
$cl-about:$black;


/** Post **/
$mrgt-post: $parallax-header;
$cl-titlePost: $primary-color;

/** Post/components/ Post Content **/
$bg-post: $white;
$cl-postContentTilte: $bg-back;


/** Post/components/ Post Header **/
$bg-postHeader: $gray-darker;
$mrgt-postHeader: $parallax-header;


/** Post/components/ Post Header Image **/
$bg-postHeaderImage: $gray-darker;
$bg-postHeaderImageBefore: $gray;