@import '../../../../styles/base.css';

.PostSummary {
  -webkit-animation: fade-in-up 0.2s;
  animation: fade-in-up 0.2s both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  margin: 0 30px 50px;
    a h1{
      font-family: "$display-regular";
      color: $cl-postSumaryTilte;
      font-size: 3em;
      line-height: 1em;
    }
    .postText{
      color: $cl-postText;
    }


  &:first-child{
    padding-top: 35px;
  }
}

.linkImage{
    width: 100%;
    overflow: hidden;
    height: 130px;
    display: block;
    background-color: $bg-linkImage;
    img{
      margin-top: -25%;
    }
}