@import '../../../../styles/variables/variables.css';
@import '../../../../styles/mixins/mixins.css';

.PostSummary {
  margin-top: -26px;
  margin-bottom: 40px;
    h1 {
      @mixin postTitle;
      position: relative;
      font-size: 2em;
      top: 48px;
      left: 14px;
      z-index: 90;
      padding-left: 20px;
      a {
        color :$cl-postSumaryTilte;
        &:hover{
          color: $cl-postSumaryTilteHover;
        }
      }
    }
    h2 {
      font-family: $fontFamilyLight;
      color: $cl-postSumaryOpening;
      font-size: 1.2em;
      line-height: 1.4em;
      margin-bottom: .3em;
      font-weight: 200;
    }
    .postText{
      color: $cl-postText;
    }
}

.PostSummaryAnim {
  animation: fade-in-up 100ms both;
}

.linkImage{
  @mixin linkImage;
  img{
    margin-top: -14%;
    margin-left: 50%;
    width: 50%;
  }
  border-radius: 0px 85px 0px 85px;
}

.readMore {
  margin-top:26px;
  font-family: $fontFamilyMedium;
  color: $cl-postSumaryOpening;
  text-transform: uppercase;
  display: block;
  line-height: 1;
  font-size: 0.9em;
}