@import '../../../../styles/base.css';

.PostSummary {
  -webkit-animation: fade-in-up 0.3s;
  animation: fade-in-up 0.3s both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  margin-bottom: 50px;
    a h1{
      font-family: "$display-regular";
    }
}

.PostSummary:first-child{
  padding-top: 35px;
}

.linkImage{
    width: 100%;
    overflow: hidden;
    height: 200px;
    display: block;
    background-color: $gray-darker;
}
