@import '../../../../styles/mixins/mixins.css';
@import '../../../../styles/variables/variables.css';

.RegisterBoxWrap{ 
  display: flex;
  flex-wrap: wrap;
  background-color: $secondary-color;
  border-bottom: 1px solid #ccc;
  height: 6em;
  padding: 3px;
  @media (min-width:$sm){
  height: 5em;
  align-items: center;
  }
}

.txt {
  display: flex;
  color: $white;
  font-size: 1.2em;
  font-weight: 200;
  width: 100%;
  letter-spacing: -1px;
  font-weight: bold;
  letter-spacing: -1px;
  justify-content: center;
  text-align: center;
  @media (min-width:$sm){
    font-size: 1.4em;
    width:55%;
    text-align: left;
    justify-content: flex-start; 
    padding-left: 60px;
  }
}

input {
  outline: none;
  border: none;
}

.registerForm {
  width: 100%;
  @media (min-width:$sm){
    width:40%;
    justify-content: flex-start; 
    }
}
button, input {
  overflow: visible;
}

.registerFormContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  @media (min-width:$sm){
    justify-content: flex-end;
    padding-right: 60px;
 
  } 
}

.inputField {
  font-size: 12px;
  margin: 0 10px 0 0;
  padding: 6px 6px 6px 6px;
  width: 120px;
  font-size: 0.7em;
  height: 26px;
  font-weight: 500;
  @media (min-width:$sm){
    height: 36px;
    font-weight: 500;
    width: 140px;
  }
}

.inputButton {
  margin: 0 10px 0 0;
  display: block;
  color: #fff;
  height: 26px;
  padding: 0.2em 0.8em;
  font-size: 0.7em;
  font-weight: 700;
  border-style: solid;
  margin: 0.3rem;
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  background: #f72354;
  transition: all 0.3s;
  margin-left: 0.2em;
  height: 26px;
  @media (min-width:$sm){
    height: 36px;
  }
}