@import '../../styles/base.css';

section{
  min-height: 100vh;
  background: cornsilk;
  border-bottom: 9px solid white;
}

.home{
  background-image: url("https://i.ytimg.com/vi/wC9QUljrzNw/maxresdefault.jpg");
}

.mainWrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;

  a {
    width: 46%;
  }
}

.home {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}



.brand{
  background-color: #555;
  width: 573px;
  h1{
    color: #F0F0F0;
    padding: 22px 57px 22px 130px;
    display: table;
    margin-bottom: 10px;
    line-height: 40px;
  }
}
