@import '../../styles/base.css';

.nameArea {position: absolute; right: 0; width: 573px; top: 391px;}

.nameArea h1 {background: #DD3C26; color: #F0F0F0; padding: 22px 57px 22px 130px; display: table; margin-bottom: 10px; line-height: 40px; position: relative;}

.nameArea p {color: #F0F0F0;}
