@import '../../styles/variables/variables.css';
@import '../../styles/anims.css';

:root section{
  min-height: 100vh;
}

.mainWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: $bg-home;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand{
  width: 92%;
  margin: 40px auto 0;  
  font-size: 3em;
  background-color: $bg-homeBrand;
  transform: rotate(-2deg);
  
  @media (min-width:$sm){
    width: 390px;
    margin: 133px -5px 0 0;
  } 
  h1{
    width: 10%;
    padding: 22px 0;
    margin: 0 auto;
    display: table;
    text-align: center;
    line-height: 40px;
    font-size: 45px;
    font-family: $fontFamilyMedium;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: bold;
    color: $cl-homeBrand;
    transform: skew(-2deg);
    @media (min-width:$sm){
      width: auto;
      margin: 0;
      padding: 22px 133px 28px 110px;
      text-align: left;
    }
  }
}

.brandAnim {
   animation: fade-in-down 0.4s;
   animation-fill-mode: both;
   animation-delay: 90ms;
}

.about{
  background-color: $bg-about;
  color: $cl-about;
  padding-top: 65px;
  .content{
    @mixin mainFit; 
    margin:  0px auto 60px;
    > img{
      width: 100%;
      max-width: 200px;
      float: none;
      display: block;
      margin:  0px auto 25px;
      transition: margin 120ms ease;
      @media (min-width:600px){
        float: left;
        margin: 0px 20px 20px 0px;
        transition: margin 120ms ease;
      }
    }
    p{      
      @media (min-width:600px){
        margin: 0;
      } 
    }
    h1{
      font-size: 2.2em;
    }
    h3{
      text-transform: uppercase;
    }
    span ul{
      width: 155px;
      button{
        background-size: 30px;
      }
    }
  }
}


.photos{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0 50px;
  li{
    flex: 1 1 100%;
    height: 255px;
    overflow: hidden;
    padding: 13px 6px 36px 6px;
    img {
      width: 100%;
    }
    @media (min-width:600px){
      flex: 1 1 50%;
      height: 171px;
    }
    @media (min-width:850px){
      height: 117px;
      flex: 1 1 25%;
    }
    @media (min-width:1024px){
      height: 150px;
    }
  }
}