
@font-face {
  font-family: "BebasNeue-Bold";
  src: url("BebasNeue-Bold.eot?v=1.0.4");
  src: url("BebasNeue-Bold.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("BebasNeue-Bold.woff2?v=1.0.4") format("woff2"), url("BebasNeue-Bold.woff?v=1.0.4") format("woff"), url("BebasNeue-Bold.ttf?v=1.0.4") format("truetype"), url("BebasNeue-Bold.svg?v=1.0.4#BebasNeueBold") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BebasNeue-Book";
  src: url("BebasNeue-Book.eot?v=1.0.4");
  src: url("BebasNeue-Book.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("BebasNeue-Book.woff2?v=1.0.4") format("woff2"), url("BebasNeue-Book.woff?v=1.0.4") format("woff"), url("BebasNeue-Book.ttf?v=1.0.4") format("truetype"), url("BebasNeue-Book.svg?v=1.0.4#BebasNeueBook") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BebasNeue-Light";
  src: url("BebasNeue-Light.eot?v=1.0.4");
  src: url("BebasNeue-Light.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("BebasNeue-Light.woff2?v=1.0.4") format("woff2"), url("BebasNeue-Light.woff?v=1.0.4") format("woff"), url("BebasNeue-Light.ttf?v=1.0.4") format("truetype"), url("BebasNeue-Light.svg?v=1.0.4#BebasNeueLight") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("BebasNeue-Regular.eot?v=1.0.4");
  src: url("BebasNeue-Regular.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("BebasNeue-Regular.woff2?v=1.0.4") format("woff2"), url("BebasNeue-Regular.woff?v=1.0.4") format("woff"), url("BebasNeue-Regular.ttf?v=1.0.4") format("truetype"), url("BebasNeue-Regular.svg?v=1.0.4#BebasNeueRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("BebasNeue-Regular.eot?v=1.0.4");
  src: url("BebasNeue-Regular.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("BebasNeue-Regular.woff2?v=1.0.4") format("woff2"), url("BebasNeue-Regular.woff?v=1.0.4") format("woff"), url("BebasNeue-Regular.ttf?v=1.0.4") format("truetype"), url("BebasNeue-Regular.svg?v=1.0.4#BebasNeueRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "BebasNeue-Thin";
  src: url("BebasNeue-Thin.eot?v=1.0.4");
  src: url("BebasNeue-Thin.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("BebasNeue-Thin.woff2?v=1.0.4") format("woff2"), url("BebasNeue-Thin.woff?v=1.0.4") format("woff"), url("BebasNeue-Thin.ttf?v=1.0.4") format("truetype"), url("BebasNeue-Thin.svg?v=1.0.4#BebasNeueThin") format("svg");
  font-style: normal;
  font-weight: normal;
}
