@import '../../styles/mixins/mixins.css';

.SocialIcon{
  flex: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover{
    opacity: 1 !important;
    transition: opacity .2s ease-in-out;  
  }

}

