@import "../../../../styles/variables/variables.css";
@import "../../../../styles/mixins/mixins.css";

.TagTitle {
  margin-bottom: 36px;
  h1 {
    font-size: 2em;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    color: $primary-color;
    span {
      margin-right: 3px;
    }
    small {
      font-family: $fontFamilyMedium;
      margin-left: 6px;
    }
  }
}
