@import "../../styles/base.css";
@import "../../styles/anims.css";

.snackBarBottom {
  color: rgb(255, 255, 255);
  background-color: #282c38;
  max-width: 32em;
  animation: SnackBarEnterUp 300ms both;
  flex-direction: column;
  right: 1em;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 0.9em;
  bottom: 1em;
  line-height: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
  a {
    opacity: 0.8;
    display: inline-block;
    padding: 0.2em;
    text-decoration: underline;
    transition: all 0.3s;
    &:hover {
      text-decoration: none;
      transition: all 0.3s;
    }
  }
  .snackLogo {
    align-items: flex-end;
    margin: -2.5em 0.5em;
    width: 60px;
    @media screen and (max-width: 414px) and (orientation: portrait) {
      width: 45px;
    }
  }
  .snackMessage {
    margin: 2em 0.5em 1.5em;
    display: block;
  }
  @media screen and (max-width: 414px) and (orientation: portrait),
    screen and (max-width: 736px) and (orientation: landscape) {
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
  }
}

.snackBarTop {
  color: rgb(255, 255, 255);
  background-color: #282c38;
  max-width: 33em;
  max-height: 14.5em;
  animation: SnackBarEnterDown 300ms both;
  flex-direction: column;
  right: 0.5em;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 1em;
  top: -0.3em;
  line-height: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
  a {
    opacity: 0.8;
    display: inline-block;
    padding: 0.2em;
    text-decoration: underline;
    transition: all 0.3s;
    &:hover {
      text-decoration: none;
      transition: all 0.3s;
    }
  }
  .snackMessage {
    margin: 0.7em 0.5em 1em;
    display: block;
  }
  .snackLogo {
    align-items: center;
    margin: 1em;
    height: 70px;

    @media screen and (max-width: 414px) and (orientation: portrait) {
      height: px;
    }
  }
  @media screen and (max-width: 414px) and (orientation: portrait),
    screen and (max-width: 736px) and (orientation: landscape) {
    left: 0;
    right: 0;
    bottom: 0;
    top: -0.4em;
    max-width: none;
    max-height: 12em;
  }
}

.content {
  display: flex;
  padding: 0.4rem;
  margin-top: 0.5rem;
  justify-content: flex-end;
}

.exitDown {
  animation: SnackBarExitUp 200ms ease-in both;
  animation-delay: 50ms;
}

.exitUp {
  animation: SnackBarExitDown 200ms ease-in both;
  animation-delay: 50ms;
}
