@define-mixin mainFit {
    padding: $layout-padding;
    max-width: $layout-max-width;
}

@define-mixin linkImage {
    width: 100%;
    height: 120px;
    display: block;
    overflow: hidden;
    border: $bdrt-linkImage;
    background-color: $bg-linkImage;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    img{
      margin-top: -17px;
      width: 150px;
    }
    &:hover{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

@define-mixin blogTitle {
    width: 100%;
    height: $hgt-titleBlog;
    margin: 0;
    left: 0;
    top: 0;
    font-size: 1.4em;
    line-height: 1;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $bg-titleBlog;
    background-image: $bgi-titleBlog;
    color: $cl-titleBlog;
    &Wrap{
      @mixin mainFit;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      h1{
        font-family: $fontFamilyMedium;
        color: $cl-titleBlog;
        word-break: break-word;
        width: 400px;
        margin-top: 43px;
        + div{
          display: flex;
          align-items: flex-end;
          margin-bottom: 34px;
          font-size: 17px;
        }
      }
    }
  }