
@define-mixin mainFit {
  padding: 0 15px;
  max-width: $layout-max-width;

  transition: padding 120ms ease;
  @media (min-width: $sm){
    padding: $layout-padding;
    transition: padding 120ms ease;
  } 
}

@define-mixin linkImage {
  width: calc(100% + 33px);
  height: 98px;
  margin-left: -33px;
  position: relative;
  display:inline-block;
  overflow: hidden;
  border: $bdrt-linkImage;
  background-color: $bg-linkImage;
  filter: grayscale(16%);
  border-radius: 4px;
  clip-path: polygon(12% 3%,35% 6%, 73% 0%, 98% 7%, 100% 58%, 92% 86%, 36% 91%, 3% 82%, 4% 17%);
  transition: all 500ms ease-out;
  @media (min-width: $sm){
    clip-path: polygon(2% 25%, 34% 8%, 67% 30%, 100% -8%, 99% 90%, 89% 100%, 35% 104%, 2% 80%);
    transition: all 500ms ease-out;
  }
  img{
    transition: all .2s; 
  }
  h1{
    color: $white;
  }
  &:hover{
    h1{
      color: $primary-color;
    }
    img{
      transform: scale(1.1);
    }
    filter: grayscale(%);
    clip-path: polygon(-4% 8%,21% 2%, 44% -5%, 73% 0%, 93% 7%, 100% 58%, 87% 86%, 36% 83%, 2% 63%, 0% 4%);
    transition: all 500ms ease-out;
    @media (min-width: $sm){
      clip-path: polygon(2% 23%, 107% -15%, 93% 94%, 37% 76%, 1% 74%);
      transition: all 500ms ease-out;
    }
  }
}

@define-mixin postTitle {
  font-family: $fontFamilyMedium;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  margin-bottom: 0;
  border-radius: 4px;
}

@define-mixin blogTitle {
  width: 100%;
  height: $hgt-titleBlog;
  margin: 0;
  left: 0;
  top: -17px;
  font-size: 1.4em;
  line-height: 1;
  position: fixed;
  z-index: -1;
  display: flex;
  -webkit-text-stroke-width: 1px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: $bg-titleBlog;
  background-image: $bgi-titleBlog;
  color: $cl-titleBlog;
  transform: skewY(-2deg);
  clip-path: polygon(0% 0%, 100% 2%, 100% 79%, 100% 100%, 63% 100%, 38% 86%, 0% 91%); 

}



@define-mixin blogContent {
  width: 100%;
  margin-top: $mrgt-blog;
  padding-left: 33px;
  display: flex;
  flex-direction: column;
  background: $bg-blog;
  .content{
    background: $bg-blog;
    padding: 0 15px;
    max-width: $layout-max-width;
    width: 100%;
    transition: padding 120ms ease;
    @media (min-width: $sm){
      flex: 3;  
      padding: $layout-padding;
      transition: padding 120ms ease;
    }
  }
}