
@define-mixin mainFit {
  padding: 0 15px;
  max-width: $layout-max-width;

  transition: padding 120ms ease;
  @media (min-width: $sm){
    padding: $layout-padding;
    transition: padding 120ms ease;
  } 
}

@define-mixin linkImage {
  width: calc(100% + 33px);
  height: 98px;
  margin-left: -33px;
  position: relative;
  display:inline-block;
  overflow: hidden;
  border: $bdrt-linkImage;
  background-color: $bg-linkImage;
  filter: grayscale(16%);
  border-radius: 4px;
  img{
    transition: all .2s; 
  }
  h1{
    color: $white;
  }
  &:hover{
    h1{
      color: $primary-color;
    }
    img{
      transform: scale(1.1);
    }
    filter: grayscale(%);
  }
}

@define-mixin postTitle {
  font-family: $fontFamilyMedium;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  margin-bottom: 0;
  border-radius: 4px;
}

@define-mixin blogTitle {
  width: 100%;
  height: $hgt-titleBlog;
  margin: 0;
  left: 0;
  top: 0;
  font-size: 1.4em;
  line-height: 1;
  position: fixed;
  z-index: -1;
  display: flex;
  -webkit-text-stroke-width: 1px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: $bg-titleBlog;
  background-image: $bgi-titleBlog;
  color: $cl-titleBlog;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 93%, 62% 96%, 38% 91.5%, 0% 99%); 

}



@define-mixin blogContent {
  width: 100%;
  margin-top: $mrgt-blog;
  padding-left: 33px;
  display: flex;
  flex-direction: column;
  background: $bg-blog;
  .content{
    background: $bg-blog;
    padding: 0 15px;
    max-width: $layout-max-width;
    width: 100%;
    transition: padding 120ms ease;
    @media (min-width: $sm){
      flex: 3;  
      padding: $layout-padding;
      transition: padding 120ms ease;
    }
  }
}

@define-mixin shape {
  background: #fefefe;
  clip-path: polygon(0% 30%, 38% 6%, 62% 21%, 100% 10%, 100% 100%, 0% 100%, 0% 100%, 0% 100%);
  width: 100%;
  display: block;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 174px;
}