
@define-mixin mainFit {
  padding: 0 15px;
  max-width: $layout-max-width;
  @media (min-width: $sm){
    padding: $layout-padding;
  } 
}

@define-mixin linkImage {
  width: 100%;
  height: 110px;
  position: relative;
  display:inline-block;
  overflow: hidden;
  background-color: $bg-linkImage;
  border-radius: 4px;
  @media (min-width: 340px){
    height: 93px;
  }
  @media (min-width: $sm){
    margin-left: -33px;
    width: calc(100% + 33px);
  }
  img{
    margin-top: -9.2%;
    margin-left: 49%;
    width: 58%;
    -webkit-user-drag: none;
    @media (min-width: 340px){
      margin-left: 60%;
      width: 39%;
    }
  }
  h1{
    color: $white;
  }
  img{
    transform: scale(1);
    transition: transform .2s ease;
    -webkit-backface-visibility: hidden;
  }
  &:hover{
    h1{
      color: $primary-color;
    }
    img{
      transform: scale(1.1);
      transition: transform .2s ease;
      -webkit-backface-visibility: hidden;
    }
  }
}

@define-mixin postTitle {
  font-family: $fontFamilyMedium;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  margin-bottom: 0;
  border-radius: 4px;
}

@define-mixin blogContent {
  width: 100%;
  margin-top: $mrgt-blog;
  display: flex;
  flex-direction: column;
  background: $bg-blog;
  .content{
    background: $bg-blog;
    padding: 0 15px;
    max-width: $layout-max-width;
    width: 100%;
    @media (min-width: $sm){
      padding: $layout-padding;
    }
  }
  @media (min-width: $sm){
    padding-left: 33px;
  }
}

@define-mixin shape {
  display: none\9;
  background: #fefefe;
  width: 100%;
  display: block;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 162px;
  clip-path: polygon(0% 28px, 45% 18px, 55% 30px, 65.1% 9px, 73% 20px, 100% 20px, 100% 100%, 0% 100%, 0% 100%, 0% 100%);
  transition: clip-path 100ms ease-out;
  @media (min-width: $xs){
    clip-path: polygon(0% 30px, 33% 16px, 48% 30px, 73.1% 0px, 81% 20px, 100% 20px, 100% 100%, 0% 100%, 0% 100%, 0% 100%);
    transition: clip-path 100ms ease-out;
  }
  @media (min-width: $sm){
    clip-path: polygon(0% 30px, 42% 17px, 59% 30px, 71.1% 5px, 79% 20px, 100% 20px, 100% 100%, 0% 100%, 0% 100%, 0% 100%);
    transition: clip-path 100ms ease-out;
  }
  @media (min-width: $lg){
    clip-path: polygon(0% 30px, 33% 16px, 48% 30px, 67.1% 0px, 75% 20px, 100% 20px, 100% 100%, 0% 100%, 0% 100%, 0% 100%);
    transition: clip-path 100ms ease-out;
  }
  @media (min-width: $xlg){
    clip-path: polygon(0% 30px, 41% 16px, 52% 30px, 64.1% 0px, 71% 20px, 100% 20px, 100% 100%, 0% 100%, 0% 100%, 0% 100%);
    transition: clip-path 100ms ease-out;
  }
  @media all and (-ms-high-contrast:none){
    display: none;
    *::-ms-backdrop{
      display: none;
    }
  } 
}