@import '../../styles/variables/variables.css';
@import '../../styles/mixins/mixins.css';

.miniTitle {
    margin-bottom: -13px;
    font-family: $fontFamilyMedium;
    font-size: 1em;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: all 110ms ease-out;
    a{
        color: $cl-miniTitle;
 
    }
}

.miniTitleActive {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
    transition: all 110ms ease-in;
}