@import '../../styles/mixins/mixins.css';

.logo {
  font-family: 'MontSerrat';
  display: none;
}

.miniTitle {
  @mixin fontFamilyMedium;
  opacity: 0;
  transition: opacity 140ms ease-in;
}

 .miniTitleActive {
  @mixin fontFamilyMedium;
  transition: opacity 140ms ease-in;
 }