@import '../../styles/base.css';

.Blog {
    margin: 0 auto;
    max-width: 1224px;
    display: flex;
    flex-direction: column;
  .titleBlog{
    font-size: 1em;
    text-align: center;
    background: #333;
    color: #fff;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 50px;
    left: 0;

  -webkit-animation: fade-in-down 0.3s;
  animation: fade-in-down 0.3s both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  }
}

.tracks{
  padding-top: 138px;
}

.Blog > div{
  padding: 0 30px;
  @media (min-width: $sm){
    flex: 3;  
  }
}

.Blog > aside{
padding: 0 30px;
  @media (min-width: $sm){
    flex: 1;
    padding: 0 30px 0 0; 
  }
}