@import '../../styles/variables/variables.css';
@import '../../styles/mixins/mixins.css';

.Blog {
  width: 100%;
  margin-top: $mrgt-blog;
  display: flex;
  flex-direction: column;
  background: $bg-blog;
  .BlogContent{
    margin: 50px auto 100px;
    background: $white;
    @mixin mainFit;
    @media (min-width: $sm){
      flex: 3;  
    }
  }
}

.titleBlog{
  width: 100%;
  height: $hgt-titleBlog;
  margin: 0;
  left: 0;
  top: 0;
  padding-top: 11px;
  font-size: 1.5em;
  line-height: 1;
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-titleBlog;
  color: $cl-titleBlog;
  .blogTitleWrap{
    @mixin mainFit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    h1{
      font-family: $fontFamilyMedium;
      color: $cl-titleBlog;
      word-break: break-word;
      width: 400px;
    }
    h1 + div{
      display: flex;
      align-items: flex-end;
      margin-bottom: 34px;
      font-size: 17px;
    }
  }
}

.titleBlogAnim {
  -webkit-animation: fade-in-down 200ms;
  animation: fade-in-down 200ms both;
}