@import '../../styles/variables/variables.css';
@import '../../styles/anims.css';

.Blog {
    width: 100%;
    margin-top: $mrgt-blog;
    display: flex;
    flex-direction: column;
    background: $bg-blog;
    .BlogContent{
      margin: 50px auto 100px;
      @mixin mainFit;
    }
}

  .titleBlog{
    width: 100%;
    height: $hgt-titleBlog;
    margin: 0;
    left: 0;
    top: 0;
    font-size: 1,9em;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-titleBlog;
    color: $cl-titleBlog;
    .blogTitleWrap{
      @mixin mainFit;
      width: 100%;
      h1{
        @mixin fontFamilyMedium;
        color: $cl-titleBlog;
      }
    }
  }

.titleBlogAnim {
  -webkit-animation: fade-in-down 200ms;
  animation: fade-in-down 200ms both;
}

.tracks{
  padding-top: 138px;
}

.Blog > div{
  background: $white;
  @media (min-width: $sm){
    flex: 3;  
  }
}