
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("Montserrat-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}