.navMenu {
	ul{
		width: 205px;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		list-style: none;
        li{
			position: relative;
			a{
				&::before,
				&::after {
					position: absolute;
					opacity: 0;
				}
				&::before {
					content: '[';
					left: 0px;
				}
				&::after {
					content: ']';
					right: 0px;
				}
				&:hover::before,
				&:focus::before{
					left: -10px;	
				}
				&:hover::after,
				&:focus::after {
					right: -10px;
				}
				&:hover::before,
				&:focus::before,
				&:hover::after,
				&:focus::after {
					opacity: 1;
					transition: all .3s ease;
				}
			}
        }
    }
}