.navMenu {
	ul{
		width: 291px;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		list-style: none;
        li{
			position: relative;
        }
    }
}

.navMenu a::before,
.navMenu a::after {
	position: absolute;
	opacity: 0;
}

.navMenu a::before {
	content: '[';
}

.navMenu a::after {
	content: ']';
}

.navMenu a::before,
.navMenu a::before{
	left: 0px;	
}

.navMenu a:hover::before,
.navMenu a:focus::before{
	left: -10px;	
}

.navMenu a::after,
.navMenu a::after {
	right: 0px;
}

.navMenu a:hover::after,
.navMenu a:focus::after {
	right: -10px;
}

.navMenu a:hover::before,
.navMenu a:focus::before,
.navMenu a:hover::after,
.navMenu a:focus::after {
	opacity: 1;
	transition: all .3s ease;
}