@import '../../../../styles/variables/variables.css';
@import '../../../../styles/anims.css';


.postHeader{
  @mixin blogTitle;
  justify-content: space-between;
  &Wrap{
    background-size: 221px;
    background-repeat: no-repeat;
    background-position: 0 -19px;
  }
}



.postTitleAnim {
  animation: fade-in-down 140ms both;
}

.postHeader::before {
  width: 100%;
  height: $mrgt-postHeader;
  position: relative;
  overflow: hidden;
  background-size: cover;
  transform-style: inherit;
}