@import '../../../../styles/base.css';

.postHeader {
  width: 100%; 
  height: $mrgt-postHeader;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow: hidden;
  background-color: $bg-postHeader;
  background-position-y: 50%;
  background-size: 100%;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  opacity: 0;
}

.postHeaderAnim {
   -webkit-animation: fade-in-down 250ms;
  animation: fade-in-down 250ms both;
  -webkit-animation-delay: 20ms;
  animation-delay: 20ms;
}

.postHeader::before {
  width: 100%;
  height: $mrgt-postHeader;
  position: relative;
  overflow: hidden;
  background-size: cover;
  -webkit-transform-style: inherit;
  transform-style: inherit;
}

.postHeader * {
  margin: 0;
  padding: 1em 0;
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;  
}

.postHeader > img{
  -webkit-filter: sepia(1);
  filter: sepia(1);
}