@import '../../../../styles/base.css';

.postHeader{
  min-height: 160px;
  display: block;
  width: 100%;
  margin-bottom: 2em;
  text-align: center;
  background-color: #222;
  background-size: cover;
  overflow: hidden;
  -webkit-animation: fade-in-down 0.3s;
  animation: fade-in-down 0.3s both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
